/*ABOUT US PAGE*/
.aboutUs_main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}
.aboutUs_main div h1 {
  color: #fff;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}
.aboutUs_main p {
  color: #fff;
  padding: 10px;
  font-size: 17px;
}

.aboutVideo {
  border-radius: 50px;
}

.about-textContainer {
  background-color: #4b4b4b;
}

/*INDEX PAGE*/
.container-fluid {
  background-color: #12100D;
  margin: 0px;
  padding: 0px;
}

ul li a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 20px;
}

.navImg {
  width: 27px;
}

.indexHeader {
  background-image: url(../img/header-01.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
  text-shadow: 4px 4px 30px #dde02a;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  margin: 0px;
}

h1 {
  font-size: 70px;
}

.mainTitle {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  padding: 15px;
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

@-webkit-keyframes titulo {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: white;
  }
  75% {
    color: yellow;
  }
  100% {
    color: white;
  }
}

@keyframes titulo {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: white;
  }
  75% {
    color: yellow;
  }
  100% {
    color: white;
  }
}
.navLogo img {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes logo {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.indexMain {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #12100D;
  margin: 0px;
}

.img1 img {
  border-radius: 15px;
}

.img2 img {
  border-radius: 15px;
}

.img3 img {
  border-radius: 15px;
}

.img1 img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px white;
}

.img2 img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px white;
}

.img3 img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px white;
}

.indexMain h2 {
  font-size: 35px;
  font-style: italic;
}

.proximosEventos-title {
  background-color: #4b4b4b;
}
.proximosEventos-title h2 {
  color: white;
  padding: 15px;
}

main section {
  margin-top: 50px;
}

.mainFooter {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(41, 43, 42);
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin-bottom: 0px;
  align-content: center;
}

.mainFooter h2 {
  font-size: 15px;
  margin-top: 10px;
}

/*EVENTS PAGE*/
.eventsMain {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.eventsMain-title {
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.eventsMain-p {
  color: white;
  padding: 10px;
  font-size: 20px;
  background-color: #4b4b4b;
}

.eventsMain-p p {
  margin-top: 10px;
}

.eventsMain-table {
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.eventsMain-iframe {
  padding: 5px;
  border-radius: 40px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.eventsMain-iframe iframe {
  width: 80%;
  height: 90%;
  border-radius: 35px;
}

.eventsMain-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventsMain th {
  padding: 4px;
  margin: 4px;
  font-size: 30px;
}

.eventsMain td {
  padding: 4px;
  margin: 4px;
  font-size: 30px;
}

.eventsH2 {
  font-size: 30px;
  color: aliceblue;
  text-shadow: 5px 5px 20px #12100D;
  background-color: #4b4b4b;
  width: 100%;
  height: 65px;
}

.eventsH2 h2 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 25px;
}

.card {
  color: #fff;
}

/*SHOP PAGE*/
.shopMain {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 270px;
}

.shopMain div h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.sectionShop-h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.shopMain h2 {
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.shopMain ol {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  margin-left: 45px;
  list-style: none;
}

.shop-mainSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  justify-content: space-evenly;
  margin-right: 50px;
}

.shop-textContainer {
  background-color: #4b4b4b;
  width: 100%;
}

/*CONTACT US PAGE*/
.contactusNav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 60px;
  background-color: rgb(41, 43, 42);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contactMain {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.contactMain h1 {
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.contactTitle {
  height: 85px;
}

.contactUs-form-box {
  background-color: rgb(48, 48, 48);
  width: 450px;
  height: 655px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 50px;
  opacity: 0.8;
}

.formSection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 900px;
  background-image: url(../img/contact-header.png);
  background-size: cover;
}

.contactMain form label {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.contactMain form input {
  padding: 20px;
  margin-left: 20px;
}

.contactMain form textarea {
  padding: 20px;
  margin-left: 20px;
}

body {
  background-color: #12100D;
}

/*BOOTSTRAP*/
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.navImg {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */