/*ABOUT US PAGE*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
.aboutUs_main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

.aboutUs_main div h1 {
  color: #fff;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.aboutUs_main p {
  color: #fff;
  padding: 10px;
  font-size: 17px;
}

.aboutVideo {
  border-radius: 50px;
}

.about-textContainer {
  background-color: #4b4b4b;
}

/*INDEX PAGE*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #323c41;
}

.blog-card {
  width: 750px;
  height: 390px;
  position: relative;
  top: 0%;
  left: 0%;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.blog-card.crd1 {
  background: url(../img/gnr-index.jpg) no-repeat;
  background-position: 20% 10%;
}

.blog-card.crd2 {
  background: url(../img/phlc-index.jpg) no-repeat;
  background-position: 35% 10%;
}

.blog-card.crd3 {
  background: url(../img/cldpl-index.jpg) no-repeat;
}

.blog-card.crd4 {
  background: url(../img/mtllc-index.jpg) no-repeat;
  background-position: 80% 10%;
}

.blog-card.crd5 {
  background: url(../img/acdc-index.jpg) no-repeat;
}

.blog-card.crd6 {
  background: url(../img/u2-index.jpg) no-repeat;
}

.blog-card .color-overlay {
  /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  width: 750px;
  height: 390px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card .gradient-overlay {
  /* bg-gradient: */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(21%, rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 750px;
  height: 390px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}

.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}

.blog-card:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}

.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9CC9E3;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #DCE3E7;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #DCE3E7;
  font-family: 'Droid Serif', serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  -webkit-transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}

.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}

.utility-list li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #DCE3E7;
  font-family: 'Roboto', sans-serif;
}

.utility-list li.comments {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg) no-repeat 0 0.1em;
}

.utility-list li.date {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg) no-repeat 0 0.1em;
}

@media (max-width: 720px) {
  .blog-card.crd1 {
    background-position: 25% 10%;
  }
  .blog-card.crd2 {
    background-position: 35% 10%;
  }
  .blog-card.crd3 {
    background-position: 35% 10%;
  }
  .blog-card.crd4 {
    background-position: 45% 10%;
  }
}

.container-fluid {
  background-color: #12100D;
  margin: 0px;
  padding: 0px;
}

ul li a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 20px;
}

.navImg {
  width: 27px;
}

.indexHeader {
  background-image: url(../img/header-01.png);
  background-position: center;
  width: 100%;
  height: 1000px;
  background-size: cover;
  text-shadow: 4px 4px 30px #dde02a;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  margin: 0px;
}

h1 {
  font-size: 70px;
}

.mainTitle {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  padding: 15px;
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

@-webkit-keyframes titulo {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: white;
  }
  75% {
    color: yellow;
  }
  100% {
    color: white;
  }
}

@keyframes titulo {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: white;
  }
  75% {
    color: yellow;
  }
  100% {
    color: white;
  }
}

.indexMain {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #12100D;
  margin: 0px;
}

.img1 img, .img2 img img, .img3 img img {
  border-radius: 15px;
}

.blog-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}

.indexMain h2 {
  font-size: 35px;
  font-style: italic;
}

.proximosEventos-title {
  background-color: #4b4b4b;
}

.proximosEventos-title h2 {
  color: white;
  padding: 15px;
}

@media (max-width: 720px) {
  .indexHeader {
    background-image: url(../img/header-index-mobile.jpg);
  }
}

/*EVENTS PAGE*/
.eventsMain {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.eventsMain-title {
  color: white;
  text-shadow: 5px 5px 15px #78913e;
}

.eventsMain-p {
  color: white;
  font-size: 20px;
  background-color: #4b4b4b;
}

.eventsMain-p p {
  margin-top: 10px;
}

.eventsMain-iframe iframe {
  border-radius: 50px;
}

.eventsH2 {
  font-size: 30px;
  color: aliceblue;
  text-shadow: 5px 5px 20px #12100D;
  background-color: #4b4b4b;
}

.eventsH2 h2 {
  padding: 20px;
  font-size: 25px;
  margin-left: 20px;
}

.card {
  color: #fff;
  border-radius: 5px;
}

/*SHOP PAGE*/
.shopMain {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shopMain div h2 {
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.sectionShop-h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.sectionShop-h1 .div {
  background-color: #4b4b4b;
}

.card {
  border-radius: 8px;
}

.shop-textContainer {
  background-color: #4b4b4b;
  width: 100%;
}

.carousel-item img {
  border-radius: 10px;
}

.shop1 {
  display: none;
}

.shop2 {
  display: none;
}

.shop3 {
  display: none;
}

@media (max-width: 720px) {
  .shop1 {
    display: block;
  }
  .shop2 {
    display: block;
  }
  .shop3 {
    display: block;
  }
  .shop4 {
    display: none;
  }
  .shop5 {
    display: none;
  }
  .shop6 {
    display: none;
  }
}

/*CONTACT US PAGE*/
.contactusNav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 60px;
  background-color: #292b2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contactMain {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactMain h1 {
  color: white;
  text-shadow: 5px 5px 15px #78913e;
  padding: 15px;
}

.contactTitle {
  height: 85px;
}

.contactUs-form-box {
  background-color: #303030;
  width: 450px;
  height: 655px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  opacity: .8;
}

.formSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 900px;
  background-image: url(../img/contact-header1.jpg);
  background-size: cover;
}

.contactMain form label {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.contactMain form input {
  padding: 20px;
  margin-left: 20px;
}

.contactMain form textarea {
  padding: 20px;
  margin-left: 20px;
}

@media (max-width: 720px) {
  .formSection {
    background-image: url(../img/contact-header-mobile.jpg);
  }
}

body {
  background-color: #12100D;
}

/*BOOTSTRAP*/
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.navImg {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */